<div class="img-header-about"></div>
<div class="container-fluid page-about">
    <div class="text-center">
        <h1>All About SBL Systems</h1>
        <hr class="fancy-line-dark">
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 copy">
            <p>
                SBL Systems is a vibrant company managed by some of the most experienced automation
                engineers in the field. Strong and diverse technical capabilities, loyal customer base, and low
                costs makes SBL highly competitive.
            </p>

            <p>
                Our mission is to provide manufacturing companies with competitive Control System
                Engineering services, from concept through completion, with a team of highly skilled
                engineers, providing the best solutions in the industry. In addition, SBL Systems offers
                electrical support & drafting services across a variety of industries
            </p>

            <p>
                With more than 40 years of combined experience in engineering and design, the SBL Systems
                management team has the talent and the skill to design and manufacture the controls needed
                while meeting budgets, deadlines, and expectations.
            </p>
        </div>
    </div>
    <hr class="fancy-line">
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-xs-12 col-sm-6 text-center copy">
            <img src="img/profile_jerry.png">
            <h3 class="text-center">
                Jerry Broaddus
            </h3>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 text-center copy">
            <img src="holder.js/162x195/text:pic of John/industrial" holder-fix>
            <h3 class="text-center">
                John Spellman
            </h3>
        </div>
    </div>
    <hr class="fancy-line-dark">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">
                SBL Systems is a Limited Liability Company owned by partners John Spellman & Jerry
                Broaddus.
            </h3>
        </div>
    </div>
</div>
