<footer>
    <div class="col-xs-10 col-xs-offset-2">
        <h3 class="text-center hidden-sm hidden-xs">Some of the systems we support</h3>
        <div class="logo-bar hidden-sm hidden-xs">
            <img src="img/supported_logos/ELAUlogo.png">
            <img src="img/supported_logos/gefanuclogo.png">
            <img src="img/supported_logos/ralogo.png">
            <img src="img/supported_logos/siemenslogo.png">
        </div>
        <div class="logo-bar-small visible-xs visible-sm text-center">
            <img src="img/supported_logos/ELAUlogo.png">
            <img src="img/supported_logos/gefanuclogo.png">
            <img src="img/supported_logos/ralogo.png">
            <img src="img/supported_logos/siemenslogo.png">
        </div>
    </div>
</footer>

