<div class="img-header-home"></div>
<div class="container-fluid page-home">
    <div class="text-center">
        <h1>Welcome to SBL Systems</h1>
        <hr class="fancy-line">
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-6 copy">
            <p>
                SBL Systems provides electrical control system design services, control panel fabrication, PLC
                and HMI programming, industrial networking and data collection, on-site installation
                assistance, startup services and production stand-by support.
            </p>
        </div>
        <div class="col-md-3 col-xs-6 copy">
            <ul>
                <li>Service Team with over 40 yrs combined Control System Engineering experience</li>
                <li>Loyal client base</li>
                <li>Low Costs</li>
                <li>Custom Quotes & Services</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-6 copy">
            <p>
                SBL is a Texas based Control Systems Integrator that designs, executes and completes
                industrial control system and data collection projects to automate manufacturing and process
                facilities throughout Texas & all over the world.
            </p>
        </div>
        <div class="col-md-3 col-xs-6 copy">
            <ul>
                <li>Servo Systems</li>
                <li>AC and DC Variable Speed Drives</li>
                <li>Drive Systems</li>
                <li>Batch Control Systems</li>
                <li>HMI Interfaces</li>
                <li>Programmable Logic Controllers</li>
            </ul>
        </div>
    </div>
</div>