<div class="img-header-services"></div>
<div class="container-fluid page-services">
    <div class="text-center">
        <h1>Services</h1>
        <hr class="fancy-line-dark">
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12 copy">
            <p>
                SBL Systems provides solutions for industrial controls design, and engineering across diverse
                industries with site services provided for both domestic & international locations.
                We can offer solutions in all aspects of automation projects including conceptual design,
                proposal, functional specification, hardware, programming, startup, post startup support, and
                network and system validation.
            </p>

            <p>
                Whether you are looking for a technician to troubleshoot & fix a PLC problem on a remote site,
                need a custom panel built, or require an embedded Engineer to keep your facility at its best, SBL
                Systems can provide your solution. Feel free to call or e-mail to request a quote.
            </p>
        </div>
    </div>
    <hr class="fancy-line">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6 column-left">
                <h2>
                    Services We Provide
                </h2>
            </div>
            <div class="col-xs-6 column-right">
                <h2>
                    Current Industries We Serve
                </h2>
            </div>
        </div>
    </div>
    <hr class="fancy-line-dark">
    <div class="row">
        <div class="col-xs-6 column-left">
            <ul class="list-unstyled copy">
                <li>Equipment Inspection / Performance Analysis</li>
                <li>PLC Diagnostic / Technician</li>
                <li>General Electrical Support</li>
                <li>System Architecture Design</li>
                <li>System Optimization</li>
                <li>AutoCAD Drafting Services (Electrical)</li>
                <li>Industrial Control Panel Construction</li>
                <li>System Installation</li>
                <li>Electrical Supervisory Services</li>
                <li>Engineering Supervisory Services</li>
                <li>PLC conversions</li>
                <li>Packaging Systems</li>
                <li>Conveying Systems</li>
                <li>Automatic Storage and Retrieval Systems</li>
                <li>Training</li>
                <li>Embedded Engineer</li>
                <li>Embedded Electrician</li>
            </ul>
        </div>
        <div class="col-xs-6 column-right">
            <ul class="list-unstyled copy">
                <li>Food & Beverage Industry</li>
                <li>Oil & Gas</li>
                <li>Automotive</li>
                <li>Tire & Rubber</li>
                <li>Water & Waste-water Systems</li>
                <li>Lumber</li>
                <li>Steel Mill</li>
                <li>Pharmaceutical</li>
                <li>Packaging</li>
                <li>General Consumer Products</li>
                <li>Energy Management</li>
            </ul>
        </div>
    </div>
</div>